@import "./base.css";
*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#app {
  max-width: 100vh;
  font-weight: normal;
}

#game {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img-dIxX5Wzyd6P75A5XAPibN.png);
}

#game-body {
  background: #aaffa988; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #11ffbc6f,
    #aaffa988
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #11ffbc6f,
    #aaffa988
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  backdrop-filter: blur(10px);
}

header h1 {
  color: #2b7660;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  text-shadow: #323232da;
}
